- prev_module_name = ''
- @newsletter.newsletter_lines.each do |newsletter_line|
  = render_html_module newsletter_line, prev_module_name
  - prev_module_name = newsletter_line.module_name
- if prev_module_name == 'product'
  </tr></table> 