%h1=t :new_newsletter
= render "shared/error_messages", :target => @newsletter

- form_for(:newsletter, :url => collection_url, :html => { :multipart => true }) do |f|
  = render :partial => "form", :locals => { :f => f }
  = render :partial => "admin/shared/new_resource_links"
