<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
%html
  %head
    %meta{:'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title foo
%body{:style => "font-family:Verdana, Geneva, sans-serif; font-size: 13px; margin:0; padding:0; border:0; background-color:#000;"}
  %div{:style => "width:620px; margin: 0 auto; border: solid 1px #000;"}
    %div{:style => "background-color:#EEE; margin:0 auto; padding:10px;"}
      = yield